<!--
<ul>
    <% for (const item of items) { %>
      <li><a href="<%- item.path %>"><%= item.title %></a></li>
      <%= item['date'] %>
    <% } %>
    </ul>
-->
```{=html}
<div class="til-listing">
<% for (const item of items) { %>
    <div class="til-item">
        <div class="til-item-header">
            <div class="til-item-date"><%= item['date'] %></div>
            <div class="til-item-categories">
                <% for (const c of item.categories) { %>
                    <span class="til-category"><%= c %></span>
                <% } %>
            </div>
        </div>
        <div class="til-item-title"><a href="<%- item.path %>"><%= item.title %></a></div>
    </div>
<% } %>
</div>
```